body {
  height: 100vh;
  /* background-color: #ead2ac; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  background-color: #9cafb7;
  padding: 20px;
  border-radius: 10px;
}

li {
  list-style: none;
}
header {
  background-color: #4281a4;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  flex: 1;
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li:first-child {
  border-right: 2px solid whitesmoke;
}

main {
  height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #4281a4;
  width: 1280px;
  /* for now */
}

/* table stuff */
tbody tr td {
  border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
  background-color: light-dark(rgba(0 0 0 / 0.05), rgba(255 255 255 / 0.1));
}
tbody tr:hover td {
  background-color: light-dark(rgba(240 253 244 / 1), rgba(240 253 244 / 0.35));
}

.highlight {
  background-color: lightgoldenrodyellow;
}

@media (max-width: 600px) {
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  thead tr th,
  tbody tr td {
    border: none;
  }
  tbody tr {
    border: 1px solid #ccc;
  }
}
